In [27]:
import pandas as pd
import numpy as np

# Q1 pandas version

In [2]:
pd.__version__

'2.3.1'

In [3]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [5]:
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

# Q2 Records count

In [6]:
df.shape

(9704, 11)

# Q3 Fuel types

In [7]:
df['fuel_type'].nunique()

2

# Question 4. Missing values

## How many columns in the dataset have missing values?

In [8]:
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [9]:
df['fuel_efficiency_mpg'].max()

np.float64(25.96722204888372)

# Q5. Max fuel efficiency

## What's the maximum fuel efficiency of cars from Asia?

In [10]:
df['origin'].unique()

array(['Europe', 'USA', 'Asia'], dtype=object)

In [11]:
cars_asia = df[df['origin']=='Asia']

In [12]:
cars_asia['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

# Q6. Median value of horsepower

## Find the median value of horsepower column in the dataset.
## Next, calculate the most frequent value of the same horsepower column.
## Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
## Now, calculate the median value of horsepower once again

In [13]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [14]:
median_horsepower = df['horsepower'].median()

In [15]:
median_horsepower

np.float64(149.0)

In [16]:
mode_horsepower = df['horsepower'].mode()

In [17]:
mode_horsepower

0    152.0
Name: horsepower, dtype: float64

In [18]:
df['horsepower'] =df['horsepower'].fillna(mode_horsepower[0])

In [19]:
df['horsepower'].isna().sum()

np.int64(0)

In [20]:
df['horsepower'].median()

np.float64(152.0)

# Q7. Sum of weights
## Select all the cars from Asia
## Select only columns vehicle_weight and model_year
## Select the first 7 values
## Get the underlying NumPy array. Let's call it X.
## Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
## Invert XTX.
## Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
## Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
## What's the sum of all the elements of the result?
## Note: You just implemented linear regression. We'll talk about it in the next lesson.

In [21]:
asia_cars_weight_modelyear = cars_asia[['vehicle_weight','model_year']]

In [22]:
subset_cars_weights_modelyear = asia_cars_weight_modelyear.head(7)

In [23]:
X = subset_cars_weights_modelyear.to_numpy()

In [32]:
XTX =X.T @ X

In [33]:
XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [34]:
inverted_XTX = np.linalg.inv(XTX)

In [36]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [37]:
w = (inverted_XTX@X.T)@y

In [39]:
w.sum()

np.float64(0.5187709081074016)